* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

a,
a:hover {
    text-decoration: none;
}


                                            /*header_Section Start*/

.header_Section {
    width: 100%;
    background: url(../images/Background.png) center top no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.header_Section .bg-light {
    background-color: transparent!important;
    padding: 20px 60px;
}

.header_Section .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    margin-right: 30px;
}

.navbar-brand img {
    width: 80%;
}

.header_Section .navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
    background: url(../images/bar_img.png) center bottom no-repeat;
}

.header_Section .navbar-light .navbar-nav .nav-link:hover {
    color: #e74c3c;
    background: url(../images/bar_img.png) center bottom no-repeat;
}


                                                            /*Nav section END*/


                                                            /*banner_section Strat*/

.banner_section {
    width: 100%;
    padding-top: 135px;
    padding-bottom: 210px;
}

.banner_inner {
    width: 100%;
    text-align: center;
}

.banner_section .banner_inner h5 {
    color: #f4f5f9;
    font-size: 20px;
    font-weight: 100;
    padding: 14px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner_inner h1 {
    color: #f4f5f9;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 5px;
}

.banner_inner p {
    color: #f4f5f9;
    font-weight: 600;
    margin-top: 10px;
    font-size: 10px;
    line-height: 18px;
}

.banner_inner .banner_img {
    padding-top: 3px;
    padding-bottom: 12px;
}

.banner_btn {
    padding: 40px 0px;
}

.banner_btn .btn-info {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 38px;
}

.banner_btn .btn-info:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 38px;
    transition: 1s;
}

.banner_btn .btn-primary {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 42px;
    margin-left: 14px;
}

.banner_btn .btn-primary:hover {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 42px;
    margin-left: 14px;
    transition: 1s;
}

.banner_section .banner_inner .banner_bottom {
    position: absolute;
    margin-top: 187px;
    left: 47.5%;
}

.banner_section .banner_inner .banner_bottom img {
    width: 70%;
}

                                                      /*header_Section end*/

                                                    /*whoweare_section START*/

.whoweare_section {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 45px;
}

.whoweare_section .whoweare_inner {
    width: 100%;
    text-align: center;
}

.whoweare_section .whoweare_inner .wwr_img {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #e6e7eb;
    margin: auto;
}

.whoweare_section .whoweare_inner .wwr_img:hover {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #e74c3c;
    margin: auto;
    transform: rotate(50deg);
    transition: 1s;
}

.whoweare_section .whoweare_inner .wwr_img:hover .whoweare_inner h5 {
    color: #e74c3c;
}

.whoweare_section .whoweare_inner h5 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 3px;
    font-family: 'Source Sans Pro', sans-serif;
}

.whoweare_section .whoweare_inner img {
    padding-top: 3px;
}

.whoweare_section .whoweare_inner p {
    font-size: 10px;
    padding-top: 4px;
    line-height: 18px;
    color: #999999;
}


                                                        /*whoweare_section END*/


                                                        /*aboutus_Section START*/

.aboutus_Section {
    width: 100%;
    padding: 100px;
}

.aboutus_Section .aboutus_img {}

.aboutus_Section .aboutus_img img {
    width: 75%;
    margin-left: 105px;
}

.aboutus_Section .aboutus_inner img {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
}

.aboutus_Section .aboutus_inner h1 {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.aboutus_Section .aboutus_inner p {
    font-size: 10px;
    padding-top: 10px;
    color: #999999;
}

.aboutus_Section .aboutus_inner .aboutus_btn {
    padding-top: 16px;
}

.aboutus_Section .aboutus_inner .aboutus_btn .btn-info {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 22px;
}

.aboutus_Section .aboutus_inner .aboutus_btn .btn-info:hover {
    color: #999999;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 22px;
    transition: 1s;
}


                                                        /*aboutus_Section END*/

                                                        /*service_Section Start*/

.service_Section {
    width: 100%;
    background: url(../images/service_background.png) center top no-repeat;
    background-size: cover;
}

.service_Section .service_inner {
    text-align: right;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 60px;
}

.service_Section .service_hear {}

.service_Section .service_hear h1 {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #f4f5f9;
    letter-spacing: 1px;
}

.service_Section .service_hear img {
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 15px;
}

.service_Section .service_text {
    margin: 18px 0px;
}

.service_Section .service_text h3 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e74c3c;
}

.service_Section .service_text p {
    font-size: 10px;
    color: #999999;
}

.ser_images {
    width: 100%;
    text-align: left;
    margin-top: 55px;
    margin-left: 22px;
}

.ser_images .ser1 {
    padding-top: 50px;
}

.ser_images .ser1 img {
    width: 10%;
    margin-top: 6px;
}
                                                    /*service section end*/

                                                    /*portfolio_section start*/

.portfolio_section {
    width: 100%;
}

.portfolio_section .port_text {
    text-align: center;
    padding-top: 80px;
}

.portfolio_section .port_text h3 {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.portfolio_section .port_text p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.portfolio_section .port_text img {
    text-align: center;
}

.portfolio_section .port_option {
    text-align: center;
    padding-top: 35px;
}

.port_option ul {}

.port_option ul li {
    display: inline-block;
    padding-left: 10px;
    font-weight: 800;
}

.port_option ul li a {
    font-size: 11px;
    color: #6a6a6a;
}

.port_option ul li a span {
    padding-left: 20px;
}

.port_option ul li a p:hover {
    font-size: 11px;
    color: #e74c3c;
}

.gallery_Section {
    width: 100%;
    padding-top: 20px;
}

.port_inner {
    margin: -15px;
}

.port_inner img {
    width: 100%;
}

.port_inner img {}


                                                    /*portfolio_section END*/

                                                    /*casestudy_section start*/

.casestudy_section {
    width: 100%;
    background: url(../images/casestudy_background.png) center top no-repeat;
    padding-bottom: 230px;
    padding-top: 35px;
    background-size: cover;
}

.casestudy_section .casestudy_text {
    text-align: center;
    padding-top: 80px;
}

.casestudy_section .casestudy_text h3 {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.casestudy_section .casestudy_text p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.casestudy_section .casestudy_text img {
    text-align: center;
}

.casestudy_inner {
    padding-top: 169px;
    text-align: center;
    margin-left: 167px;
}

.casestudy_img1 {}

.casestudy_img1 img {
    width: 20%;
}

.casestudy_inner h3 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 46px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #999999;
}

.casestudy_inner p {
    font-size: 10px;
    padding-top: 4px;
    line-height: 17px;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
}

.casestudy_img2 {}

.casestudy_img2 img {}

.casestudy_btn {
    margin-top: 40px;
}

.casestudy_btn .btn-info {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 1px;
    font-size: 12px;
    font-weight: 800;
    padding: 7px 22px;
}

.casestudy_btn .btn-info:hover {
    color: #999999;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 1px;
    font-size: 12px;
    font-weight: 800;
    padding: 7px 22px;
    transition: 1s;
}


                                                        /*casestudy_section start*/

                                                        /*Countdown section Start*/

.countdown_section {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
    background-image: url(../images/checkoutbg.png);
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background: transparent;
}

.flex-container .countdown_inner {
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

.countdown_inner {}

.countdown_inner img {
    width: 74px;
    display: block;
    margin: auto;
}

.counthead {}

.counthead h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-top: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.countdown_inner p {
    font-size: 16px;
    margin-top: -48px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}


                                                        /*Countdown section END*/

                                                        /*pricing_section start*/

.pricing_section {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 12px;
}

.pricing_text {
    text-align: center;
    padding-top: 80px;
}

.pricing_text h3 {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.pricing_text p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.pricing_text img {
    text-align: center;
}

.card_section {
    padding-top: 50px;
}

.inner_card {
    width: 100%;
    text-align: center;
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 175px;
    background: #999999;
    position: relative;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background: #f4f5f9;
}

.inner_card ul {}

.inner_card ul li {}

.card_herder {}

.card_herder h4 {
    padding: 33px;
    font-size: 27px;
    color: #fff;
    font-weight: 700;
}

.card_img1 {}

.card_img1 img {
    width: 43%;
    position: absolute;
    margin: -83px -73px;
}

.card_txt {}

.card_txt p {
    padding-top: 72px;
    font-size: 12px;
    color: #999999;
    line-height: 30px;
}

.cardimg_text {
    position: absolute;
    margin: -44px 118px;
}

.cardimg_text h3 {
    font-size: 44px;
    font-weight: 700;
    color: #999999;
}

.cardimg_text p {
    margin-top: -88px;
}

.card_btn {
    padding: 30px 0px;
}

.card_btn .btn-primary {
    color: #fff;
    background-color: #999999;
    border: 1px solid #999999;
    border-radius: 1px;
    font-size: 12px;
    font-weight: 800;
    padding: 11px 23px;
}

.card_inner:hover .card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 175px;
    background: #e74c3c;
    position: relative;
    transition: 1s;
}

.card_inner:hover .cardimg_text h3 {
    font-size: 44px;
    font-weight: 700;
    color: #e74c3c;
    transition: 1s;
}

.card_inner:hover .card_btn .btn-primary {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 1px;
    font-size: 12px;
    font-weight: 800;
    padding: 11px 23px;
    transition: 1s;
}
                                                        /*card section end*/

                                                        /*team_Section start*/

.team_Section {
    width: 100%;
    padding-bottom: 380px;
    padding-top: 12px;
    background: url(../images/team_bg.png) center top no-repeat;
    background-size: cover;
}

.team_Section .team_text {
    text-align: center;
    padding-top: 90px;
}

.team_Section .team_text h3 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.team_Section .team_text p {
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
}

.team_Section .team_text img {}

.team_members {
    width: 100%;
    position: relative;
}

.team1 {
    position: absolute;
    left: 10%;
    top: 141px;
}

.team2 {
    position: absolute;
    left: 27%;
    top: 77px;
}

.team3 {
    position: absolute;
    left: 50%;
    top: 103px;
}

.team4 {
    position: absolute;
    left: 70%;
    top: 133px;
}

.team5 {
    position: absolute;
    left: 90%;
    top: 77px;
}
                                                    /*team section end*/

                                                    /*client_Section start*/

.client_Section {
    width: 100%;
    background: #f4f5f9;
    padding-bottom: 60px;
    border-bottom: 1px solid #DEE2E6;
}

.client_Section .client_text {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}

.client_Section .client_text h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.client_Section .client_text p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.client_Section .client_text img {}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client_one {
    width: 205px;
    height: 94px;
    line-height: 100px;
    margin-bottom: 21px;
    text-align: center;
    box-shadow: 0px 0px 10px #e8e7e7;
    background-color: white;
}

.client_one img {
    width: 50%;
    margin: auto;
}

.c6 img {
    width: 70%;
    margin: auto;
}


                                                    /*team_Section end*/

                                                    /*blog section start*/

.blog_section {
    width: 100%;
    background: #f4f5f9;
}

.blog_text {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}

.blog_text h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.blog_text p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.blog_inner {
    width: 100%;
}

.blog_img1 {}

.text_blog1 {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.blog_img1 img {
    width: 100%;
}

.text_blog2 {
    width: 100%;
    height: 380px;
    background-color: #e74e3e;
}

.blog_img2 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.blog_img2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}

.blog_img2 h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.blog_img2 h6 {
    color: #fff;
    line-height: 23px;
    padding-top: 12px;
    padding-bottom: 37px;
    font-size: 13px;
}

.blog_img2 img {
    margin-top: -12px;
}

.blog_img2 a {
    font-size: 12px;
    color: #fff;
    font-style: italic;
    font-weight: 800;
}

.trianle {
    width: 40px;
    height: 40px;
    top: 50%;
    left: -10%;
    transform: rotateZ(45deg);
    position: absolute;
    background-color: #e74e3e;
}

.text_blog3 {
    width: 100%;
    height: 380px;
    background-color: #e74e3e;
    position: relative;
}

.blog_img3 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.blog_img3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}

.blog_img3 h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.blog_img3 h6 {
    color: #fff;
    line-height: 23px;
    padding-top: 12px;
    padding-bottom: 37px;
    font-size: 13px;
}

.blog_img3 img {
    margin-top: -12px;
}

.blog_img3 a {
    font-size: 12px;
    color: #fff;
    font-style: italic;
    font-weight: 800;
}

.text_blog4 {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.blog_img4 img {
    width: 100%;
}

.trianle3 {
    width: 40px;
    height: 40px;
    top: 50%;
    right: 95%;
    transform: rotateZ(45deg);
    position: absolute;
    background-color: #e74e3e;
}


                                                    /*blog section end*/

                                                    /*contact_Section start*/

.contact_Section {
    width: 100%;
    padding-bottom: 100px;
    border-bottom: 1px solid #DEE2E6;
    background-color: #f4f5f9;
}

.contact_text {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}

.contact_text h3 {}

.contact_text h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.contact_text p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.form_main {}

.form_left {
    width: 100%;
    background-color: #fff;
    padding: 82px 74px;
    box-shadow: 3px 3px 5px #e8e8e8;
}

.form_inner {}

.form_inner h4 {
    font-size: 19px;
    font-weight: 600;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e74c3c;
}

.form_inner p {
    font-size: 14px;
    color: #999999;
}

.form_right {}

.form-group {
    width: 80%;
}

.form-control {
    border-radius: 0;
    padding: 19px 0px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    resize: none;
    font-size: 12px;
    font-weight: 500;
}

.main_form {
    width: 100%;
    background-color: #fff;
    padding: 70px 80px;
    box-shadow: 3px 3px 5px #e8e8e8;
}

.form_right .btn-primary {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 800;
    padding: 6px 33px;
}


                                                    /*contact_Section end*/

                                                    /*promo_section start*/

.promo_section {
    width: 100%;
    background: url(../images/promobg.png) center top no-repeat;
    background-size: cover;
}

.promo_section .promo_inner {
    padding: 100px 0px;
    text-align: center;
}

.promo_section .promo_inner .promo_text {}

.promo_section .promo_inner .promo_text h3 {
    font-size: 36px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.promo_section .promo_inner .promo_text p {
    font-size: 18px;
    padding: 7px 0px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.promo_section .promo_inner .promo_button {
    padding-top: 30px;
}

.promo_section .promo_inner .promo_button .btn-info {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 1px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 33px;
}
                                                    /*promo section end*/

                                                    /*footer_section start*/

.footer_section {
    width: 100%;
    padding-top: 20px;
    background-color: #202020;
}

.footer_icons {
    padding: 2px 14px;
}

.footer_icons ul {}

.footer_icons ul li {
    display: inline-block;
    padding: 0px 8px;
}

.footer_icons ul li a {
    font-size: 18px;
    color: #999;
}

.footer_icons ul li a:hover {
    font-size: 18px;
    color: #e74c3c;
    transition: 1s;
}

.footer_text {
    text-align: right;
}

.footer_text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}

                                                /*footer section end*/